<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="userDetail" />
	<title>userDetail</title>
</head>
<body>
	<div id="errorMessage" th:text="${errorMessage}"></div>
	<form action="/web/login/login" method="post">
		用户名：<input name="userName" type="text" value="张三"/>
		密码：<input name="password" type="password" value="123456"/>
		<button type="button" onclick="login();">登录</button>
	</form>

	<script src="/static/js/jquery-2.0.3.min.js"></script>
	<script th:src="@{'/static/js/localStorage.js'}"></script>
	<script th:src="@{'/static/js/login.js'}"></script>
</body>
</html>